<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mca.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A90ECFFA1CAD1D58002BC706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90ED00E1CAD1D58002BC706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90ED0191CAD1D58002BC706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
